.color-container {
    width: 100%;
    height: 200px;
    background-color: #1ABC9C;
    margin-bottom: 50px;
    margin-top: 68px;
}

.color-container span{
    color: #1ABC9C;
}



/*.color-container .text-flex img+.flex {
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}*/

.color-container .text-flex2 .dados {
    margin-left: 0px;
    margin-top: -110px;
}

.text-flex {
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}

.text-flex h3{
    font-size: 20px;
}

.text-flex h3+h3 {
    margin-left: 100px;
}

.history-placeholder {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 130px 66px 66px 66px;
    padding: 2rem;
}

.container-historico .hist1 {
    display: flex;
    margin-left: 200px;
    font-size: 20px;
}

.container-historico .hist1 .nome-evento {
    color: rgb(33, 138, 117);
    font-size: 18px;
    margin-left: -200px;
}

.container-historico .hist1 .empresa {
    margin-left: 70px;
    font-size: 18px;
}

.container-historico .hist1 h5+h5 {
    margin-left: 160px;
    font-size: 18px;
}