.registerUser-container{
	width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0;
	
	margin-top: 200px;
	margin-left: 50px;
}

.registerUser-container .content{
	width: 100%;
	max-width: 3500px;
}

.registerUser-container .content form h1 {
	margin-bottom: 30px;
	color: #1ABC9C;
	font-size: 30px;
}

.registerUser-container .content form h2 {
	color: #1ABC9C;
	margin-top: 25px;

}


.registerUser-container .content form h4{
	margin-top: 25px;
	margin-bottom: 2px;
}

.registerUser-container .content form input, select{
	width: 20%;
	height: 45px;
}

.registerUser-container .content form .input-group{
    display: flex;
    margin-top: 10px;
}

.registerUser-container .content form .input-group input + input, input + select{
	margin-left: 8px;
}

.registerUser-container .content form button{
margin-top: 30px;
width: 20%;
margin-left: 600px;

}

.registerUser-container .content form button + button {
	margin-left: 20px;
}
